{% extends './base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
<div class="row mt-5 justify-content-around">
    <div class="col-4 mx-auto">
        <div class="card text-left border-primary mt-5 mx-auto">
            <div class="card-header text-center">
                How to use?
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Step 1:</b> Type in your starting addresses (press the '+' to add more if needed)</li>
                    <li class="list-group-item"><b>Step 2:</b> Press 'Go'</li>
                    <li class="list-group-item"><b>Step 3:</b> That's it! The application is finding your meeting place and will show it to you as soon as possible</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4 mx-auto">
        <div class="card text-center border-primary mt-5 mx-auto">
        <div class="card-header">
            Find a Meeting Place!
        </div>
        <div class="card-body mx-auto">
            <form method="post">
                {% csrf_token %}
                {{ location_formset.management_form }}

                {% for location_form in location_formset %}
                    <div class="form-row">
                        <div class="col form-group">
                            <div class="input-group">
                                {{ location_form.location }}
                                {% if forloop.last %}
                                <div class="input-group-append">
                                    <button class="btn btn-success add-form-row">+</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if location_form.location.errors %}
                        {% for error in location_form.location.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% if location_formset.non_form_errors %}
                    {% for error in location_formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                <div class="form-row text-left">
                    {{ enter_locations_form }}
                </div>
                 <button type="submit" class="btn btn-primary">Go</button>
            </form>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="{% static 'js/add_location.js' %}"></script>
<script src="{% static 'js/django-dynamic-formset/src/jquery.formset.js' %}"></script>
<!--<script>-->
<!--    $('.location-formset').formset({-->
<!--        addText: '+',-->
<!--        deleteText: 'x'-->
<!--    });-->
<!--</script>-->
{% endblock %}

