{% extends './base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
<div class="row mt-5 justify-content-around">
    <div class="col-4 mx-auto">
        <div class="card text-left border-primary mt-5 mx-auto">
            <div class="card-header text-center">
                How to use?
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Step 1:</b> Type in your starting addresses (press the '+' to add more if needed)</li>
                    <li class="list-group-item"><b>Step 2:</b> Press 'Go'</li>
                    <li class="list-group-item"><b>Step 3:</b> That's it! The application is finding your meeting place and will show it to you as soon as possible</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4 mx-auto">
        <div class="card text-center border-primary mt-5 mx-auto">
        <div class="card-header">
            Find a Meeting Place!
        </div>
        <div class="card-body mx-auto">
            <div id="form_fields">
                {% crispy form %}
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    submitButton = document.getElementById("button-id-submit");
    submitButton.type = "submit";
</script>
<script src="{% static 'js/add_location.js' %}"></script>
{% endblock %}

